@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply bg-white text-text font-sans overflow-x-hidden;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-display;
    }
}

@layer utilities {
    .text-shadow-premium {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
}